@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");

@tailwind base;

*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border: 4px solid #909090;
  background-clip: padding-box;
  background-color: #909090;
  border-radius: 16px;
}

.scroll-stable {
  scrollbar-gutter: stable;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.markdown ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1rem;
}

.markdown ol li {
  padding-right: 1rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.markdown p {
  margin-bottom: 0;
}

.markdown a {
  color: blue;
}

.markdown a:hover {
  font-weight: 600;
}

.select-none {
  user-select: none;
}

@tailwind components;
@tailwind utilities;
